/* style for all the serie-xxxx.php pages */

body {font-family:"Arial,Helvetica", sans-serif}
h1,h2,h3,h4,h5,h6 {font-family:sans-serif; letter-spacing:5px}    

.gem-name {font-family:"Arial,Helvetica", sans-serif; letter-spacing:6px; color:grey}
.gem-menu {font-family:"Arial,Helvetica", sans-serif; color:grey; background-color:white}
.gem-footer {font-family:"Arial,Helvetica", sans-serif; color:grey}
.gem-animate {animation-duration: 3s}

.gem-background-left {margin-top: 10px;}
.gem-background-right {margin-top: 10px; margin-left: 10px;}
.gem-background-single {margin-top: 10px;}
.gem-inline { display:inline-block; vertical-align: text-top}

.gem-hover {
display: none;
font-weight: 900;
}

/* pour eviter de voir un souligne */
.gem-a {
text-decoration: none;
}

/* icon Art Majeur dans copyright. Added in global-css as well */
.ArtMajeur-fixed-size {
    width: 30px;
    height: 30px;
}

 
/* remains centered with fixed width when resizing the browser */
.gem-fixed-width { width: 964px; margin-left: auto; margin-right: auto}

.gem-very-large-height { height: 600px; }
.gem-large-height { height: 500px; }
.gem-medium-height { height: 400px; }
.gem-small-height { height: 300px; }


/* mobiles */
@media screen and (max-width: 320px) {
.gem-fixed-width { width: 480px; margin-left: auto; margin-right: auto;}

.gem-very-large-height { height: 400px; }
.gem-large-height { height: 300px; }
.gem-medium-height { height: 200px; }
.gem-small-height { height: 200px; }
}

@media screen and (max-width: 480px) {
.gem-fixed-width { width: 480px; margin-left: auto; margin-right: auto}

.gem-very-large-height { height: 400px; }
.gem-large-height { height: 300px; }
.gem-medium-height { height: 200px; }
.gem-small-height { height: 200px; }
}


